  *{	/*Ressetejem el navegador per tal d'eliminar totes les broses que quedin en caché*/
	margin:0;
	padding:0;
  }
	
  #selector {
    width: 600px;/*50%;*/
    margin: 0 auto;
    }
  #selector select{
    width: 50%;
	margin:10px;
	padding:5px;
  }  

  #main {
	height: 300px;
    width: 300px;/*50%;*/
    background-color: navy;
    color:navy;
    border: 10px solid black;
    margin: 0 auto;
    margin-top: 30px;
  }

  #colors {
	height: 180px;
    width: 750px;/*50%;*/
    background-color: #e6ebf4;
    color:grey;
    border: 10px solid black;
    margin: 0 auto;
   /* margin-top: 100px;*/
  }
	
  #colors div{ /*determinem les mides de cada casella*/
	width: 10px;
	height:10px;
	padding:7px;
	margin:2px;
	border: 1px solid black;
	border-radius: 6px;
	float: left; /*Els elements de llista són de línia, però m'interessa que es puguin posar en qualsevol lloc. amb això fem que no ocupi tota a línia sinó que permeti ocupar espai al costat mentre n'hi hagi. El nombfe de divs el marcarà el delimitador del pqre que hem fet que */
	background-color:green;
  }
	
